name: l3build
'on':
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  l3build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install --yes ghostscript
        if: matrix.os == 'ubuntu-24.04'
      - run: brew install ghostscript
        if: matrix.os == 'macos-15'
      - uses: teatimeguest/setup-texlive-action@v3.3.4
        with:
          update-all-packages: true
          package-file: DEPENDS.txt
      - run: l3build ctan --show-log-on-error --halt-on-error
      - uses: JamesIves/github-pages-deploy-action@v4.4.3
        with:
          branch: gh-pages
          folder: build/distrib/tds/tex/latex
          clean: true
        if: github.ref == 'refs/heads/master' && matrix.os == 'ubuntu-24.04'
